PORT=5000
MONGO_URI=mongodb+srv://your-cluster:your-password@...
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=1d
NODE_ENV=development
# CLIENT_URL='http://localhost:3000,http://localhost:3001'

# SMTP Configuration
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your-user
SMTP_PASS=your-password
EMAIL_FROM="Cake Shop <noreply@cakeshop.com>"
DOMAIN_SEND_EMAIL=http://localhost:3000
SMTP_TOKEN=your_mailtrap_api_token
